# package directories
node_modules
**/node_modules
jspm_packages
**/jspm_packages

# Serverless directories
.serverless
**/.serverless

# config files
configs/*.yml
!configs/example.yml
!configs/userActivationTemplate.yml